* {
    margin: 0;
  border: border-box;
}

.navigation {
  background-color: aliceblue;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.navLogo {
  height: 105px;
  width: 200px;
  margin: 0px 0px 0px 5px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navOptions {
  display: flex;
  justify-content: space-between;
}

.navButtonDiv button {
  background-color: orange;
  color: black;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: 650;
  transition-duration: 1.2s;
}

.pageList{
  opacity:0;
  visibility:hidden;
  transition:0.3s;
  height: 100px;
  width: 100px;
}

.page:hover + .pageList{
  opacity:1;
  visibility:visible;
  background-color: black;
}

#navButton:hover {
    background-color: black;
    color: white;
}


.navOption {
  width: auto;
  margin: 10px;
  margin-right: 20px;
  padding: 2px;
}

.navOption:hover {
  text-decoration: underline;
  padding: 0px;
  border: 2.1px solid skyblue;
}
.navOption a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-weight: 500;
  font-size: 1.2rem;
}